.xcodeproj/ !*.xcodeproj/project.pbxproj

*.mode1v3
*.mode2v3

project.xcworkspace/
!default.xcworkspace
Workspace Settings
build/*
adhoc/
*~.nib
*.swp
.DS_Store
*.model
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
*.xcuserstate
*.xcbkptlist
*.o
*.py